[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IsoMemo"]
	path = IsoMemo
	url = https://github.com/pandora-isomemo/isomemo-data
[submodule "Pandora"]
	path = Pandora
	url = https://github.com/pandora-isomemo/pandora-data
